$kmus-yellow: #FF8500;
$gainsboro: gainsboro;
$text-primary: #3c3c3c;

$theme-colors: (
        "primary": #0074d9,
        "danger": #ff4136,
        "kmus-yellow": $white,
        "kmus-gainsboro": $gainsboro,
);
