.nav-side{
    // border: 1px solid red;
    background: #f8f9fa;
    text-decoration: none;
    height: 30%;
    border-radius: 20px
}
.links{
    margin-top: 1em;
    padding-left: 1em;
    color: #696969;
    font-size: 15px;
}
.links1{
    margin-top: 1em;
    padding-left: 1em;
    color: #696969;
    font-size: 15px;
    text-align: center;
}
a{
    color: black;
}
.top-links{
    color: grey;
    font-size: 14px;
}